flynt-component[name="LogoCloud"] {
  @apply flex items-center justify-center border-b;
  min-block-size: 38rem;

  &::after {
    background-image: url("../assets/images/base.svg");
    background-repeat: no-repeat;
    background-size: cover;
    block-size: 90px;
    content: "";
    inline-size: 100%;
    inset-block-start: -90px;
    inset-inline-start: 0;
    position: absolute;
  }

  .logo-cloud-container {
    .title {
      @apply text-center text-5xl font-normal;
      line-height: 70px;
    }
  }

  .logos {
    @apply grid grid-cols-5 lg:mt-24 mt-8 gap-5 lg:gap-10;

    .logo {
      @apply flex items-center justify-center;
    }

    .logo img {
      @apply object-contain;
      max-block-size: 52px;
      max-inline-size: 200px;
    }
  }
}
