<flynt-component name="BlockCalculation" load:on="visible">
	<div class="container relative z-10 flex flex-col mx-auto overflow-hidden space-y-7">
		<div class="grid gap-5 lg:grid-cols-2">
			<div class="flex flex-col space-y-5">
				<h1 class="title">{{ title }}</h1>
				<span class="subtitle">{{ subtitle }}</span>
				<form method="POST" class="block-calculation__form">
					<label class="mt-5 p-1.5 rounded border border-[#7298D6] border-opacity-50 inline-block">
						<input name="numOfImages" class="pl-6 pr-4 placeholder:text-[#3B3A40] placeholder:font-normal bg-transparent focus:outline-none" placeholder="{{ formPlaceholder }}"/>
						<button type="submit" class="px-6 py-2.5 rounded bg-secondary text-white">{{ formSubmitText }}</button>
					</label>
				</form>
			</div>
			<div class="flex flex-col justify-center space-y-5">
				<div class="flex items-center justify-end space-x-5">
					<h1 class="text-right result calculation__manual_result">0.0</h1>
					<div class="flex flex-col space-y-2 w-52">
						<span class="text-xl font-bold text-secondary">Hours</span>
						<span class="text-xl font-medium text-[#8E8C95]">Estimated time to<br/>complete manually</span>
					</div>
				</div>
				<div class="flex items-center justify-end space-x-5">
					<h1 class="text-right result calculation__ai_result">0.0</h1>
					<div class="flex flex-col space-y-2 w-52">
						<span class="text-xl font-bold text-secondary">Hours</span>
						<span class="text-xl font-medium text-[#8E8C95]">Estimated time
							<p class="font-bold text-[#F90]">with MediaViz Ai</p>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</flynt-component>
