.admin-bar .pageWrapper {
  flynt-component[name="HeroPrimary"] {
    min-block-size: calc(100vh - var(--wp-admin--admin-bar--height));
  }
}

flynt-component[name="HeroPrimary"] {
  @apply bg-primary min-h-screen flex items-center justify-center text-white relative max-w-full overflow-hidden lg:py-40;

  .title {
    @apply text-white text-6xl leading-tight font-normal;

    del {
      // create a line through the text
      position: relative;
      text-decoration: unset;

      &::before {
        background: rgba(156, 201, 255, 0.36);
        block-size: 55%;
        content: "";
        inline-size: 100%;
        inset-block-start: 35%;
        inset-inline-start: 0;
        position: absolute;
      }
    }
  }

  .hero-image {
    @apply mx-auto;
    inline-size: 31rem;
  }

  .ellipses {
    display: contents;
    position: relative;

    .ellipse {
      background: linear-gradient(
        180deg,
        rgba(192, 238, 245, 0.32) 0%,
        rgba(194, 238, 216, 0.32) 100%
      );
      block-size: 972.821px;
      border-radius: 972.821px;
      filter: blur(161.3000030517578px);
      flex-shrink: 0;
      inline-size: 958.037px;
      position: absolute;

      &:nth-child(1) {
        inset-block-start: -65%;
        inset-inline-end: -25%;
        transform: rotate(26.916deg);
      }

      &:nth-child(2) {
        background: rgba(104, 174, 255, 0.55);
        block-size: 819.479px;
        border-radius: 819.479px;
        filter: blur(161.3000030517578px);
        flex-shrink: 0;
        inline-size: 807.026px;
        inset-block-start: 0%;
        inset-inline-start: 29%;
        transform: rotate(26.916deg);
      }

      &:nth-child(3) {
        background: linear-gradient(
          180deg,
          rgba(128, 222, 236, 0.32) 0%,
          rgba(194, 255, 225, 0.32) 90%
        );
        border-radius: 972.821px;
        filter: blur(161.3000030517578px);
        inset-block-end: -55%;
        inset-inline-start: -50%;
      }
    }
  }
}
